.DS_Store
.json
.class
target
.vscode
*.csv
cpp/a.out
cpp/gt*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cpp/src/Makefile
